<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>

<%# User info %>
<%= render 'layouts/side_menu', user: @user, book: @book %>

<%# Books %>
<%= render 'layouts/list', books: @books %>
